section{
    margin: 5%;
    background-color: rgb(70, 63, 63);

}

.card {

    background-color: rgb(168, 202, 231);
    margin: 5%;

}

.emojiBar {
    max-width: fit-content;
    background-color: rgb(189, 176, 176);
    /* margin: auto; */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 20px; */
    align-items: center;
    width: fit-content;
}

.modal-button{
position: sticky;

}